<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>v1.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.corpnewt.USBMap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>USBMap</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>iMac20,2-XHC3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PC00@0/AppleACPIPCI/RP05@1C,4/IOPP/UPSB@0/IOPP/DSB2@2/IOPP/XHC3@0/XHC3@00000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>
				BAAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>SS01</key>
					<dict>
						<key>Comment</key>
						<string>Rear-top USB-C</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>Comment</key>
						<string>Rear-bottom USB-C</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac20,2</string>
		</dict>
		<key>iMac20,2-XHCI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PC00@0/AppleACPIPCI/XHCI@14/XHCI@14000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBXHCIPCI</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBMuxEnabled</key>
				<true/>
				<key>port-count</key>
				<data>
				GAAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>HS02</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>HS07</key>
					<dict>
						<key>Comment</key>
						<string>Rear-MiddleLanTop USB2</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>HS08</key>
					<dict>
						<key>Comment</key>
						<string>Rear-MiddlLanBottom USB2</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
					<key>HS09</key>
					<dict>
						<key>Comment</key>
						<string>front usb</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						CQAAAA==
						</data>
					</dict>
					<key>HS10</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						CgAAAA==
						</data>
					</dict>
					<key>HS12</key>
					<dict>
						<key>Comment</key>
						<string>Rear- TopLeft USB - "BIOS"</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<key>HS13</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						DQAAAA==
						</data>
					</dict>
					<key>HS14</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						DgAAAA==
						</data>
					</dict>
					<key>SS01</key>
					<dict>
						<key>Comment</key>
						<string>Front usb-c</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						EQAAAA==
						</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>Comment</key>
						<string>Rear-BottomLeft USB</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						EgAAAA==
						</data>
					</dict>
					<key>SS03</key>
					<dict>
						<key>Comment</key>
						<string>Rear-BottomMiddleLeft USB</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						EwAAAA==
						</data>
					</dict>
					<key>SS04</key>
					<dict>
						<key>Comment</key>
						<string>Rear-BottomMiddleRight USB</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FAAAAA==
						</data>
					</dict>
					<key>SS06</key>
					<dict>
						<key>Comment</key>
						<string>Rear-Middle USB-LAN</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FgAAAA==
						</data>
					</dict>
					<key>SS07</key>
					<dict>
						<key>Comment</key>
						<string>Rear-MiddleBottomLan USB3</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						FwAAAA==
						</data>
					</dict>
					<key>SS08</key>
					<dict>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						GAAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>iMac20,2</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
